/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 35px;
	background-color: #f7f7f7;
	color: #4f4f4f;
}

#global {
	text-align: center;
}

/* LAYOUT */

#header {
    padding: 4px;
    border-bottom: 1px solid #cccccc;
}

#header .form-input {
    display: block;
    text-align: center;
}

#logo {
    padding: 50px 0 20px 0;
}

#search {
    padding: 30px 0;
}

/* TEXT */

a {
	color: #8f8f8f;
}

/* MEDIAS */

img {
	max-width: 100%;
	height: auto;
}

/* FORMS */

.form-input {
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
}

input[type="search"] {
	width: 100%;
	height: 50px;
	padding: 0 20px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* SEARCH */

#input-search {
	position: relative;
	width: 250px;
	margin: 0 auto;
}

#input-search input, #engine {
	display: inline-block;
	vertical-align: middle;
}

#engine {
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	text-align: center;
	font-weight: bold;
}

/* LINKS */

#navbar ul:first-child {
	margin-top: 10px;
}

#navbar ul li {
	display: block;
	margin: 10px 4px;
}

#navbar ul a {
	display: block;
	padding: 20px;
	border-radius: 4px;
	background-color: #ffffff;
	text-decoration: none;
}

#navbar ul a:hover {
	background-color: #969696;
	color: #ffffff;
}

/* HELPER CLASSES */

.float-r {
	float: right;
}

@media only screen and (min-width: 35em) {
    #input-search {
	    width: 500px;
    }

    #header .form-input {
    	display: inline-block;
    }

    #navbar ul li {
    	display: inline-block;
    }
}
