/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #4f4f4f;
	background: #f7f7f7;
}

#global {
	text-align: center;
}

a {
	color: #4f4f4f;
}

/* Forms */

.form-input {
	display: block;
	margin-bottom: 10px;
}

.form-buttons {
	width: 100%;
	padding-top: 5px;
	text-align: right;
}

/* Buttons */

.button {
	display: inline-block;
	padding: 8px 15px;
	cursor: pointer;
	border: none;
}

.button-cancel {
	color: #fff;
	background: #c0392b;
}

.button-success {
	color: #fff;
	background: #0db957;
}

.button-link {
	text-decoration: none;
}

.button-link:hover {
	color: #333;
	background: none;
}

.button-link img {
	display: inline-block;
}

/* Content */

#header {
	padding: 50px 0 20px 0;
	text-align: center;
	background: #f7f7f7;
}

#search {
	padding: 20px;
}

#input-search {
	position: relative;
	width: 440px;
	margin: 0 auto;
}

input {
	width: 400px;
	height: 45px;
	padding-right: 20px;
	padding-left: 20px;
	border: none;
	border-radius: 30px;
}

/* Search Engine */

#engine {
    font-weight: bold;
	line-height: 30px;
	position: absolute;
	top: 9px;
	right: 28px;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 30px;
    font-weight: bold;
}

/* Popup */

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	width: 400px;
	margin-top: -150px;
	margin-left: -200px;
	border: 1px solid #2c3e50;
	border-radius: 4px;
	background: #fff;
}

.popup-title {
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
	background: #34495e;
}

.popup-title p {
	font-size: 18px;
	color: #f2f2f2;
}

.popup-content {
	padding: 20px;
	text-align: left;
}

/* Links */

#navbar {
	margin: 20px;
	padding-bottom: 30px;
}

#navbar ul li {
	display: inline-block;
	padding: 0 10px 0 10px;
}

#navbar ul a {
	padding: 8px;
	text-decoration: none;
	border-radius: 4px;
}

#navbar ul a:hover {
	background: #ccc;
}

/* Helpers */

.float-r {
	float: right;
}


/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
